@page
@model CandidateManageWebsite.Pages.JobPostingPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Job Posting Management</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPosting[0].JobPostingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPosting[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPosting[0].PostedDate)
            </th>
            <th></th>
        </tr>
    </thead>
 
</table>
<script src="~/js/jobPosting.js"></script>
